<h1>Dice Roller</h1>
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">D4</h4>
    </div>
    <div class="card-body">
      <img
        src="https://stackblitz.com/files/angular-ivy-kda9zv/github/ShiyouOu/DiceRoll/main/src/d4.png"
      />
      <h1 class="subtract-label" (click)="subtractDice('d4')">-</h1>
      <h1 class="add-label" (click)="addDice('d4')">+</h1>
      <h4 class="mt-2">x {{ dice[0].amount }}</h4>
      <h1 class="card-title pricing-card-title">
        <h5 class="text-muted">Rolls: ({{ dice[0].rolls }})</h5>
        <small class="text-muted">Results: </small>
        <small class="text-muted">{{ dice[0].result }}</small>
      </h1>
      <button
        type="button"
        class="btn btn-lg btn-block btn-outline-primary"
        (click)="rollDice('d4')"
      >
        Roll
      </button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">D6</h4>
    </div>
    <div class="card-body">
      <img
        src="https://stackblitz.com/files/angular-ivy-kda9zv/github/ShiyouOu/DiceRoll/main/src/d6.png"
      />
      <h1 class="subtract-label" (click)="subtractDice('d6')">-</h1>
      <h1 class="add-label" (click)="addDice('d6')">+</h1>
      <h4 class="mt-2">x {{ dice[1].amount }}</h4>
      <h1 class="card-title pricing-card-title">
        <h5 class="text-muted">Rolls: ({{ dice[1].rolls }})</h5>
        <small class="text-muted">Results: </small>
        <small class="text-muted">{{ dice[1].result }}</small>
      </h1>
      <button
        type="button"
        class="btn btn-lg btn-block btn-outline-primary"
        (click)="rollDice('d6')"
      >
        Roll
      </button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">D8</h4>
    </div>
    <div class="card-body">
      <img
        src="https://stackblitz.com/files/angular-ivy-kda9zv/github/ShiyouOu/DiceRoll/main/src/d8.png"
      />
      <h1 class="subtract-label" (click)="subtractDice('d8')">-</h1>
      <h1 class="add-label" (click)="addDice('d8')">+</h1>
      <h4 class="mt-2">x {{ dice[2].amount }}</h4>
      <h1 class="card-title pricing-card-title">
        <h5 class="text-muted">Rolls: ({{ dice[2].rolls }})</h5>
        <small class="text-muted">Results: </small>
        <small class="text-muted">{{ dice[2].result }}</small>
      </h1>
      <button
        type="button"
        class="btn btn-lg btn-block btn-outline-primary"
        (click)="rollDice('d8')"
      >
        Roll
      </button>
    </div>
  </div>
</div>
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">D12</h4>
    </div>
    <div class="card-body">
      <img
        src="https://stackblitz.com/files/angular-ivy-kda9zv/github/ShiyouOu/DiceRoll/main/src/d12.png"
      />
      <h1 class="subtract-label" (click)="subtractDice('d12')">-</h1>
      <h1 class="add-label" (click)="addDice('d12')">+</h1>
      <h4 class="mt-2">x {{ dice[3].amount }}</h4>
      <h1 class="card-title pricing-card-title">
        <h5 class="text-muted">Rolls: ({{ dice[3].rolls }})</h5>
        <small class="text-muted">Results: </small>
        <small class="text-muted">{{ dice[3].result }}</small>
      </h1>
      <button
        type="button"
        class="btn btn-lg btn-block btn-outline-primary"
        (click)="rollDice('d12')"
      >
        Roll
      </button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">D20</h4>
    </div>
    <div class="card-body">
      <img
        src="https://stackblitz.com/files/angular-ivy-kda9zv/github/ShiyouOu/DiceRoll/main/src/d20.png"
      />
      <h1 class="subtract-label" (click)="subtractDice('d20')">-</h1>
      <h1 class="add-label" (click)="addDice('d20')">+</h1>
      <h4 class="mt-2">x {{ dice[4].amount }}</h4>
      <h1 class="card-title pricing-card-title">
        <h5 class="text-muted">Rolls: ({{ dice[4].rolls }})</h5>
        <small class="text-muted">Results: </small>
        <small class="text-muted">{{ dice[4].result }}</small>
      </h1>
      <button
        type="button"
        class="btn btn-lg btn-block btn-outline-primary"
        (click)="rollDice('d20')"
      >
        Roll
      </button>
    </div>
  </div>
</div>
